/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes pointer {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(4px);
    }
}

@keyframes heart-scaling {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes heart-sparks {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sparks {
    opacity: 0;
}

.core {
    fill: transparent;
    transition: fill 0.3s linear;
}

.main-body {
    fill: transparent;
    transition: fill 0.03s linear;
}

.like-icon:hover .core {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
    fill: var(--heart-contour-color, #000);
    transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
    fill: var(--heart-main-body-colour, #ff0000);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--heart-main-body-colour, #ff0000);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
    fill: var(--heart-main-body-colour, #ff0000);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-main-body-colour, #ff0000);
    transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
    fill: var(--heart-main-body-colour, #ff0000);
    transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked {
    animation: heart-scaling 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
    animation: heart-sparks 0.3s 0.3s ease-in alternate;
}

  